<div class="layui-header">
    <div class="layui-logo">Super Administrator</div>
    <!-- 头部区域 -->
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                <%- user.username%>
            </a>
            <!--<dl class="layui-nav-child">-->
                <!--<dd><a href="">基本资料</a></dd>-->
                <!--<dd><a href="">安全设置</a></dd>-->
            <!--</dl>-->
        </li>
        <li class="layui-nav-item"><a href="/">退了</a></li>
    </ul>
</div>

<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域 -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">功能展示</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/user">用户管理</a></dd>
                    <dd><a href="/admin/task/add">任务发布</a></dd>
                    <% if (user.level >= 999) { %>
                    <dd><a href="/admin/task/all">任务管理</a></dd>
                    <% } %>
                    <dd><a href="/admin/task/not">公告须知</a></dd>

                </dl>
            </li>

        </ul>
    </div>
</div>
