<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="这样就好">
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <link rel="stylesheet" href="/css/reg_login.css"/>
     <link rel="shortcut icon" href="/img/c.png">
    <script src="/layui/layui.js"></script>
    <style>
        body{
            user-select: none;
        }
    </style>
</head>
<body>
    <div class="bg"></div>
    <div class="container">
        <div class="form-bg"></div>
        <div class="form-box">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码框</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <!--<div class="layui-form-mid layui-word-aux">6-12位的数字</div>-->
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">注册</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        layui.use('form', function(){
            let form = layui.form;
            let $ = layui.$;
            //监听提交
            form.on('submit(formDemo)', function(data){
                // layer.msg(JSON.stringify(data.field));
                $.ajax({
                    url:"/reg",
                    method:"POST",
                    data:{
                        username:data.field.username,
                        password:data.field.password
                    },
                    success:function (data) {
                        layer.alert(data.msg)
                        if(data.code === 0){
                            location.href = "/login";
                        }
                    }
                })
                return false;
            });
        });
    </script>
</body>
</html>